<!DOCTYPE html>
<html lang="en">

<head>
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <title>Document</title>
    <style>

        #container {
            width: 500px;
            margin: 0 auto;
            padding: 3% 0 0 0;
            
        }

        .application--wrap{
            min-height: 0;
        }
        
        @media only screen and (max-device-width: 480px) {
            #container {
                width: 95%;
                height: 100vh;
                max-width: 500px;
            }
            #formulario{
                font-size: 2em;
            }
        }
        
        .list{
            display: inline;
        }
       

        #btn-enviar, #btn-enviar-excel {
            margin-top: 5%;
            margin-bottom: 5%;
            min-width: 48px;
            min-height: 48px;
        }
    
    </style>
</head>

<body>
    <div id="container">
        <v-app>
            <v-content>
                <v-container>
                    <v-form method="POST" @submit.prevent="sendForm" id="formulario">
                        <div>
                            <v-menu ref="menu" :close-on-content-click="false" v-model="menu" :nudge-right="40"
                                :return-value.sync="fecha" lazy transition="scale-transition" offset-y full-width
                                min-width="290px">
                                <v-text-field slot="activator" v-model="fecha" label="Fecha" prepend-icon="event"
                                    readonly name="fecha"></v-text-field>
                                <v-date-picker v-model="fecha" no-title scrollable>
                                    <v-spacer></v-spacer>
                                    <v-btn flat color="primary" @click="menu = false">Cancel</v-btn>
                                    <v-btn flat color="primary" @click="$refs.menu.save(fecha)">OK</v-btn>
                                </v-date-picker>
                            </v-menu>
                        </div>
                        <div>
                            <v-text-field label="Motivo (* gasto completo)" v-model="motivo" name="motivo"></v-text-field>
                        </div>
                        <div>
                            <v-text-field type="number" v-model="monto" label="Monto" name="monto"></v-text-field>
                        </div>

                        <!--<h4 class="title">Usuario</h4>-->
                        <div class="list" v-for="usr in usuarios">
                            <v-chip>
                                <input type="radio" v-bind:id="usr" v-bind:value="usr" name="usuario" />
                                <label v-bind:for="usr">{{usr}}</label>
                            </v-chip>
                        </div>
                        <div class="text-xs-center" id="btn-enviar">
                            <v-btn color="primary" @click="sendForm">Enviar
                                <v-icon right dark>cloud_upload</v-icon>
                            </v-btn>
                        </div>
                    </v-form>

                    <v-alert v-model="alert.estado" v-if="alert.estado === 'exito'" dismissible type="success">
                        {{alert.mensaje}}
                    </v-alert>
                    <v-alert v-model="alert.estado" v-if="alert.estado === 'error'" dismissible type="error">
                        {{alert.mensaje}}
                    </v-alert>
                    <div class="text-xs-right" id="btn-ver-excel">
                        <v-btn  round @click="openSheet" value="ver" color="teal">Ver excel
                            <v-icon right>list</v-icon>
                        </v-btn>
                    </div>

                </v-container>
            </v-content>
        </v-app>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
    <script>
        const url = 'https://script.google.com/macros/s/AKfycbx4Z4TRWnH_S1lK9eBRcsf0wD9TWnRqvQmFfJXln9hawxs1d7uX/exec';
        var app = new Vue({
            el: '#container',
            data: {
                fecha: new Date().toJSON().slice(0, 10),
                motivo: '',
                monto: '',
                usuarios: ["Ale", "Charo", "Fondo", "A y C"],
                categorias: [],
                menu: false,
                alert: {
                    estado: '',
                    mensaje: ''
                },
            },
            methods: {
                sendForm() {
                    axios.post(url,
                            new FormData(document.forms["formulario"]), {
                                headers: {
                                    'Content-type': 'application/x-www-form-urlencoded',
                                }
                            }).then(response => {
                            this.success();
                            this.alert.estado = "exito";
                            this.alert.mensaje = 'Se agrego un nuevo gasto!'
                        })
                        .catch(error => {
                            console.log(error);
                            this.alert.estado = 'error';
                            this.alert.mensaje = 'Ocurrio un error ver log :('

                        });
                },
                success() {
                    this.motivo = '',
                        this.monto = '',
                        this.usuario = '',
                        this.fecha = new Date().toJSON().slice(0, 10)
                },
                openSheet() {
                    window.open(
                        "https://docs.google.com/spreadsheets/d/1IZpSNp7pcTob7_NG4iTY8olDl_DJpIUTkYrxfH19ja0/edit?usp=sharing"
                    );
                }
            }

        })
    </script>
</body>

</html>
